.container section {
  width: 100%;
  max-width: 400px;

  padding: 8px;
  box-sizing: border-box;
}

.container .rank-table {
  border: 1px solid black;
}

.container .rank-table .lang {
  display: flex;
  flex-direction: row;
}

.container .rank-table .lang .percentage-votes {
  background-color: red;
}
