.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--background-color);
  height: 100vh;
}

.container form section:first-of-type {
  margin-bottom: 32px;
}

.container form section:last-of-type {
  margin-top: 32px;
}

.container .rank-label {
  margin-bottom: 16px;
  margin-left: 51px;
}

.container .table-rank {
  display: flex;
  justify-content: space-between;
}

.container .table-rank .rank-nums {
  margin-right: 16px;
}

.container .table-rank .rank-nums p {
  line-height: 35px;
  width: 35px;
  margin-bottom: 8px;

  font-family: 'Press Start 2P', cursive;
  text-align: center;
  vertical-align: middle;

  color: black;
}

.container .table-rank .rank-nums p:first-of-type {
  background-color: gold;
  border-radius: 50%;
}
.container .table-rank .rank-nums p:nth-of-type(2) {
  background-color: silver;
  border-radius: 50%;
}
.container .table-rank .rank-nums p:nth-of-type(3) {
  background-color: #a77044;
  border-radius: 50%;
}

.container .table-rank .rank-langs {
  flex: 1;
}

.container h1 {
  color: white;
  margin-bottom: 48px;
}

.container form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: #f0f0f5;
  width: 100%;
  padding: 16px;
}

@media (min-width: 400px) {
  .container form {
    max-width: 400px;
    border-radius: var(--border-radius-pattern);
  }
}

.container .lang-container {
  background-color: white;
  padding: 8px 16px;
  border-radius: var(--border-radius-pattern);
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container .buttons {
  display: flex;
  justify-content: flex-end;
}
