.modal-bg {
  position: absolute;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.5);
}

.modal-container {
  position: relative;

  width: 95%;
  max-width: 400px;

  border: 1px solid #bbb;
  border-radius: 8px;

  background-color: #f0f0f5;
}

.modal-container main {
  font-size: 1.1em;
  text-align: center;

  min-height: 80px;
  padding: 8px;
  border-bottom: 1px solid #bbb;

  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-container footer {
  display: flex;
  justify-content: flex-end;

  padding: 8px;
}
